<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ggc.it"
    android:versionCode="22"
    android:versionName="1.3.9" >

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ggc_connect_icon"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCL3AmYxxT37OG9phafCZ_GFii248_LaTU" />
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".News"
            android:label="News" />
        <activity
            android:name=".Credits"
            android:label="@string/credits" />
        <activity
            android:name=".direction.DirectionActivity"
            android:label="@string/title_activity_direction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".map.MapActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".schedule.ScheduleActivity"
            android:label="@string/title_activity_schedule" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ggc.it.Main" />
        </activity>
        <activity
            android:name=".schedule.SchedulePreferenceActivity"
            android:parentActivityName=".schedule.ScheduleActivity" />
        <!--
            <activity
            android:name=".love.SetupActivity"
            android:label="@string/dating_label"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".directory.DirectoryActivity"
            android:label="@string/title_activity_directory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".directory.DirectorySearchWebView"
            android:label="@string/title_activity_directory_search_web_view"
            android:parentActivityName=".directory.DirectoryActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ggc.it.directory.DirectoryActivity" />
        </activity>
        <activity
            android:name=".schedule.ScheduleUpdateActivity"
            android:label="@string/title_activity_schedule_update_class"
            android:parentActivityName=".schedule.ScheduleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ggc.it.schedule.ScheduleActivity" />
        </activity>
        <activity
            android:name=".gym.GymMainActivity"
            android:label="@string/gym_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gym.GymScheduleActivity"
            android:label="@string/gym_label"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gym.GroupsActivity"
            android:label="@string/gym_label"
            android:screenOrientation="portrait" />
        <activity android:name=".map.ImageTouchABuildingActivity" />
        <activity android:name=".map.ImageTouchBBuildingActivity" />
        <activity android:name=".map.ImageTouchCBuildingActivity" />
        <activity android:name=".map.ImageTouchDBuildingActivity" />
        <activity android:name=".map.ImageTouchFBuildingActivity" />
        <activity android:name=".map.ImageTouchLBuildingActivity" />
        <activity android:name=".map.ImageTouchStudentCenterActivity" />
        <activity
            android:name=".todo.ToDoListActivity"
            android:label="TODO List" />
        <activity
            android:name=".todo.ToDoUpdateActivity"
            android:label="TODO Update"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".rss.RSSActivity" />
        <activity
            android:name=".directory.SavedSearchUpdateActivity"
            android:label="Saved Search" />
        <activity
            android:name=".catalog.ClassSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".social.SocialListActivity"
            android:label="Social" />
        <activity android:name=".social.SocialUpdateActivity" />
        <activity android:name=".catalog.SearchResultsActivity" />
        <activity android:name=".catalog.SectionDetailActivity" />
        <activity android:name=".myinfo.MyInfoActivity" />
        <activity
            android:name=".reminders.RemindersActivity"
            android:label="@string/title_activity_reminders"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ggc.it.Main" />
        </activity>
        <activity
            android:name=".reminders.CreateReminderActivity"
            android:label="@string/title_activity_create_reminder" />

        <receiver android:name=".reminders.Reminder" />

        <activity
            android:name=".about.AboutMainActivity"
            android:label="@string/title_activity_about_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".about.HistoryButtonActivity"
            android:label="@string/title_activity_history_button" />
        <activity
            android:name=".about.GGCGeographyActivity"
            android:label="@string/title_activity_ggcgeography" />
        <activity
            android:name=".about.GGCFunFactsActivity"
            android:label="@string/title_activity_ggcfun_facts" />
        <activity
            android:name=".about.GGCSongActivity"
            android:label="@string/title_activity_ggcsong"
            android:screenOrientation="portrait" />

        <!--
        The property configChanges was added here to tell Android
        not to reset the activity to default when the keyboard is pulled out, 
        or the phone is rotated; I want to handle this myself.
        -->
        <activity
            android:name=".gpacalc.GPACalcActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_gpacalc" />
        <activity
            android:name=".gpacalc.GPACalcSemester"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_gpacalc_semester" />
        <activity
            android:name=".departmenthours.DepartmentHoursActivity"
            android:label="@string/title_activity_departmenthours" >
            <intent-filter>
                <action android:name="edu.ggc.it.departmenthours" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name=".widget.WidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name=".rss.RSSProvider"
            android:authorities="edu.ggc.it.rss.RSSProvider"
            android:exported="true" />

        <activity
            android:name=".calendar.CalendarActivity"
            android:label="@string/title_activity_calendar" />
        <activity
            android:name=".degrees.Biology"
            android:label="@string/title_activity_biology" />
        <activity
            android:name=".degrees.Business"
            android:label="@string/title_activity_business" />
        <activity
            android:name=".degrees.CriminalJustice"
            android:label="@string/title_activity_criminal_justice" />
        <activity
            android:name=".degrees.DegreesMainActivity"
            android:label="@string/title_activity_degrees_main" />
        <activity
            android:name=".degrees.Education"
            android:label="@string/title_activity_education" />
        <activity
            android:name=".degrees.HealthScience"
            android:label="@string/title_activity_health_science" />
        <activity
            android:name=".degrees.InformationTechnology"
            android:label="@string/title_activity_information_technology" />
        <activity
            android:name=".degrees.LiberalArts"
            android:label="@string/title_activity_liberal_arts" />
        <activity
            android:name=".degrees.LiberalArtsEnglish"
            android:label="@string/title_activity_liberal_arts_english" />
        <activity
            android:name=".degrees.LiberalArtsHistory"
            android:label="@string/title_activity_liberal_arts_history" />
        <activity
            android:name=".degrees.LiberalArtsPoliticalScience"
            android:label="@string/title_activity_liberal_arts_political_science" />
        <activity
            android:name=".degrees.Mathematics"
            android:label="@string/title_activity_mathematics" />
        <activity
            android:name=".degrees.Schools"
            android:label="@string/title_activity_schools" />
        <activity
            android:name=".degrees.ScienceTechnology"
            android:label="@string/title_activity_science_technology" />
        <activity
            android:name=".banner_web.BannerWebLoginActivity"
            android:label="@string/title_activity_banner_web_login" />
        <activity
            android:name=".banner_web.BannerWebActivity"
            android:label="@string/title_activity_banner_web" />
        <activity
            android:name=".d2l_web.D2LWebActivity"
            android:label="@string/title_activity_d2_lweb" />
        <activity
            android:name=".d2l_web.D2LWebLoginActivity"
            android:label="@string/title_activity_d2_lweb_login" />
        <activity
            android:name=".library.LibraryActivity"
            android:label="@string/title_activity_library" />
        <activity
            android:name=".parking.ParkingMapActivity"
            android:label="@string/title_activity_parking_map" >
        </activity>
    </application>

</manifest>
