<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ggc.it"
    android:versionCode="25"
    android:versionName="1.4.1">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk android:minSdkVersion="11" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ggc_connect_icon"
        android:label="GGC Link">
        <activity
            android:name="edu.ggc.it.Main"
            android:label="GGC Link"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.ggc.it.News"
            android:label="News"></activity>
        <activity
            android:name="edu.ggc.it.Credits"
            android:label="@string/credits"></activity>
        <activity
            android:name="edu.ggc.it.admissions.AdmissionsActivity"
            android:label="GGC Admissions"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="edu.ggc.it.map.MapActivity"
            android:screenOrientation="portrait">
            android:label="GGC Map"
        </activity>
        <activity
            android:name="edu.ggc.it.schedule.ScheduleActivity"
            android:label="GGC Class Schedule">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ggc.it.Main" />
        </activity>
        <activity
            android:name="edu.ggc.it.directory.DirectoryActivity"
            android:label="@string/title_activity_directory"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="edu.ggc.it.gym.GymMainActivity"
            android:label="GGC Gym Info"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".degrees.DegreesMainActivity"
            android:label="GGC Degrees"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="edu.ggc.it.department_numbers.DepartmentNumbersActivity"
            android:label="GGC Department Numbers"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="edu.ggc.it.myinfo.MyInfoActivity"></activity>

        <activity
            android:name="edu.ggc.it.about.AboutMainActivity"
            android:label="About Georgia Gwinnett College"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="edu.ggc.it.about.HistoryButtonActivity"
            android:label="@string/title_activity_history_button"></activity>
        <activity
            android:name="edu.ggc.it.about.GGCGeographyActivity"
            android:label="@string/title_activity_ggcgeography"></activity>
        <activity
            android:name="edu.ggc.it.about.GGCFunFactsActivity"
            android:label="@string/title_activity_ggcfun_facts"></activity>
        <activity
            android:name="edu.ggc.it.about.GGCSongActivity"
            android:label="@string/title_activity_ggcsong"
            android:screenOrientation="portrait"></activity>

        <!--
        The property configChanges was added here to tell Android
        not to reset the activity to default when the keyboard is pulled out,
        or the phone is rotated; I want to handle this myself.
        -->
        <activity
            android:name="edu.ggc.it.gpacalc.GPACalcActivity"
            android:label="GPA Calculator"></activity>

        <activity
            android:name="edu.ggc.it.campushours.CampusHoursActivity"
            android:label="GGC Hours">
            <intent-filter>
                <action android:name="edu.ggc.it.departmenthours" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="edu.ggc.it.calendar.CalendarActivity"
            android:label="GGC Calendar"></activity>
        <activity
            android:name="edu.ggc.it.banner_web.BannerWebActivity"
            android:label="GGC Banner"></activity>
        <activity
            android:name="edu.ggc.it.d2l_web.D2LWebActivity"
            android:label="GGC Desire 2 Learn"></activity>
        <activity
            android:name="edu.ggc.it.library.LibraryActivity"
            android:label="GGC Galileo"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="edu.ggc.it.social_media.Facebook"
            android:label="GGC Facebook">
        </activity>
        <activity
            android:name="edu.ggc.it.social_media.Instagram"
            android:label="GGC Instagram">
        </activity>
        <activity
            android:name="edu.ggc.it.social_media.Twitter"
            android:label="GGC Twitter">
        </activity>
        <activity
            android:name="edu.ggc.it.athletics.Athletics"
            android:label="GGC Athletics">
        </activity>
    </application>

</manifest>